@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.main{
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.card-container{
    display: flex;
}

.card{
    width:20vw;
    box-shadow: 1px 1px 10px 1px #979197;
    margin: 0 1rem;
    padding:1rem;
    box-sizing: border-box;
}

.card:hover{
    cursor: pointer;
    transform: translateY(-6px);
    transition: .5s all ease;
}

.card h3, .card h2, .card div, .card p{

    margin-bottom: 1rem;
} 

.card h3{
    color:#979197;
}

.card h2{
    font-size: 20px;
    font-weight: bold;
}

.card div{
    font-size: 18px;
    font-weight: 600;
    color:#979197;
}

.card p{
    word-wrap: break-word;
}

#card1{
    border-bottom: 10px solid #b900b9;
    border-radius: 5px;
}
#card2{
    border-bottom: 10px solid #91EF9C;
    border-radius: 5px;
}
#card3{
    border-bottom: 10px solid #F2818D;
    border-radius: 5px;
}


/*make cards responsive*/
@media screen and (max-width: 1024px) {


    .card-container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 1rem;
    }

    .card {
      width:80vw;
      margin-bottom: 20px;
    }

    .card h3{
        font-size: 2rem;
        color:#979197;
    }
    
    .card h2{
        font-size: 2rem;
        font-weight: bold;
    }
    
    .card div{
        font-size: 1.5rem;
        font-weight: 600;
        color:#979197;
    }
    
    .card p{
        font-size: 2rem;
        word-wrap: break-word;
    }
}